@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">This is an academic project</h1>
            <h1 class="mb-4 text-3xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Monash University</h1>
            <h1 class="mb-4 text-3xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">FIT5120 & FIT5122</h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Provided By Group TP17 2024 S1.</p>
            <p class="mb-8 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Design</p>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">MBIS: Hanan Ayoub</p>
            <p class="mb-8 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Development</p>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">MIT: Mengzhen Li / Zejia Hao</p>
            <p class="mb-8 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Data</p>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">MDS: Lara McCluskey / Sivasai Anish Reddy Kollukuduru</p>
        </div>
    </section>
</main>
