@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <div class="mt-5 min-vh-100">
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">MIT Developer: Mengzhen Li (Alex)</p>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">alexlimengzhen233@gmail.com</p>
    </div>
</main>

