@{
    ViewBag.Title = "Home Page";
}

<aside id="default-sidebar" class="fixed top-200 left-0  w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-slidebar dark:bg-slate-700">
        <ul class="space-y-2 font-medium hover:text-black">
            <li>
                <a href="#part1" class="slidebutton flex items-center p-2 text-gray-900 rounded-lg hover:text-black text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                    <span class="ms-3 hover:text-black">Wastage problem</span>
                </a>
            </li>
            <li>
                <a href="#part2" class="slidebutton flex items-center p-2 rounded-lg hover:text-black text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                    <span class="flex-1 ms-3 whitespace-nowrap hover:text-black">Fashion Sustainability</span>
                </a>
            </li>
            <li>
                <a href="#part3" class="slidebutton flex items-center p-2 rounded-lg hover:text-black text-white text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                    <span class="flex-1 ms-3 whitespace-nowrap hover:text-black">Brands Practices </span>
                </a>
            </li>
            <li>
                <a href="#part4" class="slidebutton flex items-center p-2 text-gray-900 rounded-lg hover:text-black text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                    <span class="flex-1 ms-3 whitespace-nowrap hover:text-black">What can I do to help?</span>
                </a>
            </li>


        </ul>
    </div>
</aside>

<div class="p-4 sm:ml-64">
    <div id="part1" class="p-4 rounded-lg dark:border-gray-700">
        <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="p-5 text-center">
                <h5 class="mb-2 text-5xl font-bold tracking-tight text-btn">200,000 tonnes</h5>
                <br>
                <p class="mb-3 text-xl font-normal text-btn">The amount of clothes thrown away in<br> Australia each year</p>
                <br>
                <h5 class="mb-2 text-5xl font-bold tracking-tight text-btn">27kg</h5>
                <br>
                <p class="mb-3 text-xl font-normal text-btn">The average amount of clothing that<br> each Australian buys each year</p>

            </div>
            <div class=" dark:bg-gray-800">
                <img class="h-80 pt-8" src="~/Content/images/info-waste-img1.jpg" alt="" />
            </div>

        </div>
        <div class="flex justify-center items-center mx-auto px-60 bg-white rounded-sm items-center dark:bg-gray-800 dark:border-gray-700">
            <img class="object-cover justify-center" src="~/Content/images/info-watste-img2.png" alt="" />
        </div>

        <div class="flex items-center justify-center rounded dark:bg-gray-800">
            <p class="mb-8 text-xl font-normal px-60 text-btn">
                <br><br>
                Australia is the <span class="mb-3 text-2xl font-normal text-CardText">second</span> highest consumer country of clothes and consequentially, textile waste has become a massive contributor to Australia’s waste problem.<br><br>

                Fast Fashion is largely responsible for this. It is a clothing market made up of products which are produced rapidly by mass-market retailers. The purpose of this business model is to allow clothes to be on shelves faster, to keep up with fast developing fashion trends, to allow users to buy more. A downside of this, however, is that the clothes are made using cheap, unsustainable fabric that not only damages the environment but leads to poorer quality clothes which have shorter life spans. It is because of this, that our clothing waste problem is only worsening as Australians are buying on average 60% more clothing than 15 years ago, and only keeping them for half as long.
                <br><br>
            </p>
        </div>

    </div>
    <div id="part2" class="grid grid-cols-12 gap-4 mb-40 justify-center items-center">
        <div class="col-start-2 col-span-5 px-20 text-center">
            <h5 class="mb-2 text-3xl font-bold tracking-tight text-btn"> What is Fashion Sustainability?</h5>
            <br>
            <p class="text-xl font-normal text-CardText text-left">
                Sustainability in fashion production and
                consumption is crucial in helping reduce Australia’s waste problem.
                Its about making clothes in a way which is kinder to the environment, people and our health.
                This way, you can buy from your favourite clothing brands and rest easy that they aren’t damaging the planet unnecessarily or treating their workers unfairly. 
                By choosing sustainable fashion, you can do your bit to support an eco-friendly revolution of the fashion industry.
                Plus, sustainable clothing is made from more durable fabrics meaning your new favourite dress will have a significantly longer lifespan!
                You are not just helping the planet, but also helping you save money as you don’t have to go and rebuy after a few wears.
                When wearing sustainable fashion, you can not only look good, but help our planet feel good!
            </p>
        </div>

        <div class="col-start-7 col-span-6">
            <div class="image-container">
                <img class="object-scale-down" src="~/Content/images/info-img3.jpg" alt="" />
            </div>
        </div>
        <div class="image-container">

        </div>
    </div>
    <div id="part3" class="flex justify-center items-center mx-100 text-white mb-10 ">
        <h5 class="flex min-w-0 p-4 rounded-lg text-xl bg-bluebar ">How can brands implement fashion sustainability?</h5>
    </div>

    <div class="grid grid-cols-12 gap-4 px-60 mb-40 justify-center text-center items-center">

        <img src="~/Content/images/infosvg/risk.svg" class="col-span-1">
        <p class="col-span-3 text-bad">
            Using cheap fabrics which break easily and don’t last
        </p>
        <img src="~/Content/images/infosvg/bad.svg" class="col-span-1">

        <div class="col-start-6 col-span-2">
            <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-CardText">Quality</h5>
        </div>

        <img src="~/Content/images/infosvg/good.svg" class="col-span-1">
        <p class="col-span-3 text-btn">
            Using more durale fabrics which mean customers can wear them longer
        </p>
        <img src="~/Content/images/infosvg/goodqual.svg" class="col-span-1">

        <img src="~/Content/images/infosvg/waste.svg" class="col-span-1">
        <p class="col-span-3 text-bad">
            Manufacturing practices which result in a large amount of textile waste
        </p>
        <img src="~/Content/images/infosvg/bad.svg" class="col-span-1">

        <div class="col-start-6 col-span-2">
            <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-CardText">Waste</h5>
        </div>

        <img src="~/Content/images/infosvg/good.svg" class="col-span-1">
        <p class="col-span-3 text-btn">
            Being considerate of resources and finding optimal uses for leftover textiles
        </p>
        <img src="~/Content/images/infosvg/recycle.svg" class="col-span-1">

        <img src="~/Content/images/infosvg/pollution.svg" class="col-span-1">
        <p class="col-span-3 text-bad">
            Manufacturing practices which create a lot of pollution through air and water pollution
        </p>
        <img src="~/Content/images/infosvg/bad.svg" class="col-span-1">

        <div class="col-start-6 col-span-2">
            <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-CardText">Pollution</h5>
        </div>

        <img src="~/Content/images/infosvg/good.svg" class="col-span-1">
        <p class="col-span-3 text-btn">
            Eco friendly materials and production practices such as using renewable energy sources
        </p>
        <img src="~/Content/images/infosvg/ecofri.svg" class="col-span-1">

        <img src="~/Content/images/infosvg/packwaste.svg" class="col-span-1">
        <p class="col-span-3 text-bad">
            Manufacturing overseas which increases transport emissions and packaging waste
        </p>
        <img src="~/Content/images/infosvg/bad.svg" class="col-span-1">

        <div class="col-start-6 col-span-2">
            <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-CardText">Manufacturing Location</h5>
        </div>

        <img src="~/Content/images/infosvg/good.svg" class="col-span-1">
        <p class="col-span-3 text-btn">
            Manufacturing in locally to reduce transport and packaging
        </p>
        <img src="~/Content/images/infosvg/reducepack.svg" class="col-span-1">

        <img src="~/Content/images/infosvg/landfill.svg" class="col-span-1">
        <p class="col-span-3 text-bad">
            Manufacturing overseas which increases transport emissions and packaging waste
        </p>
        <img src="~/Content/images/infosvg/bad.svg" class="col-span-1">

        <div class="col-start-6 col-span-2">
            <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-CardText">Fabric</h5>
        </div>

        <img src="~/Content/images/infosvg/good.svg" class="col-span-1">
        <p class="col-span-3 text-btn">
            Manufacturing in locally to reduce transport and packaging
        </p>
        <img src="~/Content/images/infosvg/lowimpact.svg" class="col-span-1">


    </div>
    <div id="part4" class="grid grid-cols-4 mx-60 bg-bluebar rounded-lg">
        <div class="col-span-1 flex ">

            <div class="flex flex-col mx-1">
                <h5 class="text-center mx-10 mb-20 font-bold text-2xl text-white">What can I do to help?</h5>
                <p class="font-bold mx-10 mt-20 justify-center text-center text-xl text-white">Implementing sustainable fashion choices into your everyday behaviour is easy! Follow our tips to reduce the impact of your fashion footprint</p>
            </div>

        </div>
        <div class="col-span-3 bg-bggrey items-center justify-center">

            <ul class="space-y-10 mr-10 my-10 bg-bggrey items-center justify-center text-center">
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/1.svg" class="mx-10 justify-center">
                    <span>Use our <a href="#" class="underline text-btn">fashion footprint calculator</a> to work out what impact your fashion consumption behaviours are having on the planet</span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/2.svg" class="mx-10 justify-center">
                    <span>Choose clothing made from <a href="#" class="underline text-btn">sustainable fabrics</a> such as organic cotton and recycled fibres</span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/3.svg" class="mx-10 justify-center">
                    <span>When buying from <a href="#" class="underline text-btn">sustainable brands</a> you send a message that ethical practices are important</span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/4.svg" class="mx-10 justify-center">
                    <span>Throw out your old clothes by donating to <a href="#" class="underline text-btn">recycling organizations</a> . who can give it another life</span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/5.svg" class="mx-10 justify-center">
                    <span>
                        Before buying something new, look through your wardrobe and consider whether it is really necessary
                    </span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/6.svg" class="mx-10 justify-center">
                    <span>
                        Explore op shops and second hand marketplaces to give someone elses clothes another life
                    </span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/7.svg" class="mx-10 justify-center">
                    <span>
                        Invest in timeless, high quality clothing to reduce the frequency of your purchases
                    </span>
                </li>
                <li class="flex items-center">
                    <img src="~/Content/images/infosvg/8.svg" class="mx-10 justify-center">
                    <span>
                        Take care of your clothes by following care instructions and repairing when needed
                    </span>
                </li>
            </ul>

        </div>
    </div>
    <script>
        document.querySelectorAll('a.slidebutton').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    const targetPosition = targetElement.offsetTop - 70;
                    window.scrollTo({ top: targetPosition, behavior: 'smooth' });
                }
            });
        });
    </script>

</div>
