
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<section class="">
    <div class="flex justify-center">
        <div class="max-w-screen-lg mt-20">
            <p class="mb-4 text-3xl font-bold text-black md:text-3xl">Did you know that recycling clothes reduces the need for new textile production, reducing water usage, chemical pollution, and greenhouse gas emissions?</p>
            <br />
            <p class="mb-8 text-lg font-normal text-btn lg:text-3xl">Scroll down to find your nearest recycling location to be part of the change!</p>
            <div class="flex justify-center">
                <img class="md:h-auto max-w-2xs" src="~/Content/images/Line.png" alt="">
            </div>
        </div>
        <div>
            <img class="md:h-auto max-w-lg" src="~/Content/images/MapHero.png" alt="">
        </div>
    </div>
</section>

<!--Stretch bg img to fit the full width-->
<section class="bg-center bg-no-repeat" style="background-image: url('../Content/images/MapPic.png');">
    <div class="flex justify-center px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-black max-w-screen-lg mx-auto md:text-4xl lg:text-4xl">
            Explore recycling points in Melbourne
            Clear out your closet, and give your clothes a new life while reducing waste!
        </h1>    
    </div>
</section>


<div class="container font-bold mt-5">
    <p class="text-3xl text-btn">Recycling Drop-off Locations in Melbourne</p>
</div>    

